@import 'tailwindcss';

#root{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

.font-bungee {
  font-family: 'Bungee Outline', sans-serif;
}

* {
  overscroll-behavior: none;
}


::-webkit-scrollbar {
  display: none;
}